In [89]:
import pandas as pd
import numpy as np

In [90]:
hour_df = pd.read_csv("./hour.csv")
hour_df

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [91]:
day_df = pd.read_csv("./day.csv")
day_df[day_df["holiday"] == 1]

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
16,17,2011-01-17,1,0,1,1,1,0,2,0.175833,0.176771,0.537500,0.194017,117,883,1000
51,52,2011-02-21,1,0,2,1,1,0,2,0.303333,0.284075,0.605000,0.307846,195,912,1107
104,105,2011-04-15,2,0,4,1,5,0,1,0.446667,0.441913,0.671250,0.226375,642,2484,3126
149,150,2011-05-30,2,0,5,1,1,0,1,0.733333,0.671092,0.685000,0.131225,1549,2549,4098
184,185,2011-07-04,3,0,7,1,1,0,2,0.726667,0.665417,0.637917,0.081479,3065,2978,6043
247,248,2011-09-05,3,0,9,1,1,0,2,0.673333,0.625646,0.790417,0.212696,1236,2115,3351
282,283,2011-10-10,4,0,10,1,1,0,1,0.570833,0.542925,0.733750,0.042304,1514,3603,5117
314,315,2011-11-11,4,0,11,1,5,0,1,0.324167,0.306817,0.446250,0.314675,440,2928,3368
327,328,2011-11-24,4,0,11,1,4,0,1,0.373333,0.372471,0.549167,0.167304,560,935,1495
359,360,2011-12-26,1,0,12,1,1,0,1,0.321739,0.315535,0.506957,0.239465,430,887,1317
366,367,2012-01-02,1,1,1,1,1,0,1,0.273043,0.252304,0.381304,0.329665,244,1707,1951
380,381,2012-01-16,1,1,1,1,1,0,1,0.190000,0.190663,0.522500,0.231358,217,2081,2298
415,416,2012-02-20,1,1,2,1,1,0,1,0.280000,0.273391,0.507826,0.229083,502,2627,3129
471,472,2012-04-16,2,1,4,1,1,0,1,0.664167,0.614925,0.561667,0.284829,1198,5172,6370
513,514,2012-05-28,2,1,5,1,1,0,1,0.712500,0.679300,0.676250,0.196521,2557,3486,6043
550,551,2012-07-04,3,1,7,1,3,0,1,0.789167,0.732337,0.538750,0.134950,2562,4841,7403
611,612,2012-09-03,3,1,9,1,1,0,1,0.707500,0.661629,0.790833,0.151121,1965,4069,6034
646,647,2012-10-08,4,1,10,1,1,0,2,0.383333,0.387608,0.709583,0.189679,874,4604,5478
681,682,2012-11-12,4,1,11,1,1,0,1,0.485000,0.475383,0.741667,0.173517,1097,5172,6269
691,692,2012-11-22,4,1,11,1,4,0,1,0.340000,0.350371,0.580417,0.052871,955,1470,2425
724,725,2012-12-25,1,1,12,1,2,0,2,0.291304,0.294465,0.734783,0.168726,440,573,1013

In [92]:
# CHECKING FOR MISSING VALUES
hour_df.info()
day_df.info()
hour_df.isna().any().any()
hour_df.notna().any().any()
hour_df.isnull().any().any()
day_df.isna().any().any()
day_df.notna().any().any()
day_df.isnull().any().any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

False

In [93]:
# DATA TYPES CONVERSION AND COLUMN RENAMING
hour_df["dteday"] = pd.to_datetime(hour_df["dteday"])
day_df["dteday"] = pd.to_datetime(day_df["dteday"])

hour_df.loc[hour_df["season"] == 1, "season"] = "spring"
hour_df.loc[hour_df["season"] == 2, "season"] = "summer"
hour_df.loc[hour_df["season"] == 3, "season"] = "fall"
hour_df.loc[hour_df["season"] == 4, "season"] = "winter"
day_df.loc[day_df["season"] == 1, "season"] = "spring"
day_df.loc[day_df["season"] == 2, "season"] = "summer"
day_df.loc[day_df["season"] == 3, "season"] = "fall"
day_df.loc[day_df["season"] == 4, "season"] = "winter"

hour_df.loc[hour_df["yr"] == 0, "yr"] = 2011
hour_df.loc[hour_df["yr"] == 1, "yr"] = 2012
day_df.loc[day_df["yr"] == 0, "yr"] = 2011
day_df.loc[day_df["yr"] == 1, "yr"] = 2012

hour_df.loc[hour_df["holiday"] == 0, "holiday"] = "no"
hour_df.loc[hour_df["holiday"] == 1, "holiday"] = "yes"
day_df.loc[day_df["holiday"] == 0, "holiday"] = "no"
day_df.loc[day_df["holiday"] == 1, "holiday"] = "yes"

hour_df.loc[hour_df["weekday"] == 0, "weekday"] = "monday"
hour_df.loc[hour_df["weekday"] == 1, "weekday"] = "tuesday"
hour_df.loc[hour_df["weekday"] == 2, "weekday"] = "wednesday"
hour_df.loc[hour_df["weekday"] == 3, "weekday"] = "thursday"
hour_df.loc[hour_df["weekday"] == 4, "weekday"] = "friday"
hour_df.loc[hour_df["weekday"] == 5, "weekday"] = "saturday"
hour_df.loc[hour_df["weekday"] == 6, "weekday"] = "sunday"
day_df.loc[day_df["weekday"] == 0, "weekday"] = "monday"
day_df.loc[day_df["weekday"] == 1, "weekday"] = "tuesday"
day_df.loc[day_df["weekday"] == 2, "weekday"] = "wednesday"
day_df.loc[day_df["weekday"] == 3, "weekday"] = "thursday"
day_df.loc[day_df["weekday"] == 4, "weekday"] = "friday"
day_df.loc[day_df["weekday"] == 5, "weekday"] = "saturday"
day_df.loc[day_df["weekday"] == 6, "weekday"] = "sunday"

hour_df.loc[hour_df["workingday"] == 0, "workingday"] = "no"
hour_df.loc[hour_df["workingday"] == 1, "workingday"] = "yes"
day_df.loc[day_df["workingday"] == 0, "workingday"] = "no"
day_df.loc[day_df["workingday"] == 1, "workingday"] = "yes"

hour_df.rename(columns={"yr": "year", "mnth": "month"})
day_df.rename(columns={"yr": "year", "mnth": "month"})

,instant,dteday,season,year,month,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,spring,2011,1,no,sunday,no,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,spring,2011,1,no,monday,no,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,spring,2011,1,no,tuesday,yes,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,spring,2011,1,no,wednesday,yes,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,spring,2011,1,no,thursday,yes,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,2012-12-27,spring,2012,12,no,friday,yes,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,2012-12-28,spring,2012,12,no,saturday,yes,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,2012-12-29,spring,2012,12,no,sunday,no,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,2012-12-30,spring,2012,12,no,monday,no,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2012-12-31,spring,2012,12,no,tuesday,yes,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

In [104]:
# CREATING NEW FEATURES

# grouping hours into morning, afternoon, evening and night
hour_df["day_time"] = hour_df["hr"].apply(lambda value: "night"
                                            if value <= 5 else "morning"
                                            if value <= 12 else "afternoon"
                                            if value <= 17 else "evening")
hour_df['day_time'] = pd.Categorical(hour_df['day_time'], categories=['night', 'morning', 'afternoon', "evening"])

# defining if day is warm or not

day_df["warm_day"] = day_df["temp"].apply(lambda value: "no" if value < 21 else "yes")
day_df['warm_day'] = pd.Categorical(day_df['warm_day'], categories=['no', 'yes'])

# changing measure unit for temperature(° Celsius), humidity(%) and windspeed(km/h)
hour_df["temp"] = hour_df["temp"].apply(lambda value: value if value > 1 else value * 100)
hour_df["atemp"] = hour_df["atemp"].apply(lambda value: value if value > 1 else value * 100)
hour_df["hum"] = hour_df["hum"].apply(lambda value: value if value > 1 else value * 100)
hour_df["windspeed"] = hour_df["windspeed"].apply(lambda value: value if value > 1 else value * 100)
day_df["temp"] = day_df["temp"].apply(lambda value: value if value > 1 else value * 100)
day_df["atemp"] = day_df["atemp"].apply(lambda value: value if value > 1 else value * 100)
day_df["hum"] = day_df["hum"].apply(lambda value: value if value > 1 else value * 100)
day_df["windspeed"] = day_df["windspeed"].apply(lambda value: value if value > 1 else value * 100)

day_df

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,warm_day
0,1,2011-01-01,spring,2011,1,no,sunday,no,2,34.4167,36.3625,80.5833,16.0446,331,654,985,yes
1,2,2011-01-02,spring,2011,1,no,monday,no,2,36.3478,35.3739,69.6087,24.8539,131,670,801,yes
2,3,2011-01-03,spring,2011,1,no,tuesday,yes,1,19.6364,18.9405,43.7273,24.8309,120,1229,1349,no
3,4,2011-01-04,spring,2011,1,no,wednesday,yes,1,20.0000,21.2122,59.0435,16.0296,108,1454,1562,no
4,5,2011-01-05,spring,2011,1,no,thursday,yes,1,22.6957,22.9270,43.6957,18.6900,82,1518,1600,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,2012-12-27,spring,2012,12,no,friday,yes,2,25.4167,22.6642,65.2917,35.0133,247,1867,2114,yes
727,728,2012-12-28,spring,2012,12,no,saturday,yes,2,25.3333,25.5046,59.0000,15.5471,644,2451,3095,yes
728,729,2012-12-29,spring,2012,12,no,sunday,no,2,25.3333,24.2400,75.2917,12.4383,159,1182,1341,yes
729,730,2012-12-30,spring,2012,12,no,monday,no,1,25.5833,23.1700,48.3333,35.0754,364,1432,1796,yes
730,731,2012-12-31,spring,2012,12,no,tuesday,yes,2,21.5833,22.3487,57.7500,15.4846,439,2290,2729,yes